.App{
  display: flex;
  justify-content: center;
  background: url('./assets/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  z-index: 54;
  height: 100%;

}